# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

#Idea
.idea/
.idea

#Build and analyze tools
build/*
build.output/*
pkg/*
cpd-output.*
report.html
.rvmrc
.rvm/*
